[2016-04-18 15:36] dsjoerg opened #6 "LOTV: Chronoboost graph no longer providing helpful information"
_From @gravelweb on April 13, 2016 2:34_

Since chronoboost is now permanently cast on buildings, the stat shown (nexus energy maxed) is not helpful. I propose that instead of tracking nexus energy, it would be more useful to track whether the building that is chronoboosted is idle or not.

e.g.1. chrono boosting a robo that doesn't produce any units would show 0%.
e.g.2. chrono boosting warpgates

[2016-04-18 15:36] dsjoerg commented on #6
@gravelweb that makes sense.  However, given the data that's available in the replay it might be more work than you'd think to compute / estimate it.

Are you already familiar with the kind of events / data that are in the replay file?   If not I can give you a rundown.

[2016-04-18 15:36] dsjoerg commented on #6
_From @gravelweb on April 13, 2016 13:34_

@dsjoerg I imagine I will be soon enough once I start working on the 1v1 map issue :) If you want to give me/point me to a rundown, I'm sure that could be helpful. I'll poke you again on the subject once I'm happy with my dev setup. Then I can start doing some real digging.

[2016-04-18 15:36] dsjoerg commented on #6
[code]

Those are the different events that are in the replay.

There's nothing in there I know of that tells you explicitly whether or not a building is idle at any given time, nor is there anything telling you, when a unit is made, what building it came from.

What _is_ in there are the commands issued by the player.  But there is nothing telling you about the state of the queue for a building.

[2016-04-18 15:36] dsjoerg commented on #6
_From @gravelweb on April 18, 2016 2:18_

Some issues are being reported in ggtracker/sc2reader, and I'm wondering if there should be one common place for ggtracker issues (maybe in ggtrackerstack?) Here's a duplicate for this issue: https://github.com/ggtracker/sc2reader/issues/8

[2016-04-18 15:36] dsjoerg commented on #6
_From @gravelweb on April 18, 2016 2:19_

@dsjoerg Yes this sounds like a project I want to take on. Any idea how much work is involved here?

[2016-04-18 15:36] dsjoerg commented on #6
ggtrackerstack sounds like a great place for issues.

[2016-04-18 15:36] dsjoerg commented on #6
building a simulation of building queues is a lot of work.  i'd say a solid week of work to get something that would be useful for players.

some wrinkles:
- a player might have a set of buildings selected and then will issue a command to produce a unit.  i'm not sure we are ever explicitly told which of those buildings produces the unit
- a player can issue a unit-production command without havin

[2016-04-18 15:36] dsjoerg commented on #6
_From @gravelweb on April 18, 2016 3:0_

Thanks @dsjoerg. Sound advice.

[2016-04-18 15:36] dsjoerg opened #7 "All activity is displayed in top right for 1v1"
_From @gravelweb on April 10, 2016 22:36_

The mini-map feature is not working properly for 1v1. All activity seems to be happening at the top right, outside the boundaries of the map. This doesn't seem to be an issue in 2v2.

_Copied from original issue: dsjoerg/ggtracker#19_

[2016-04-18 15:36] dsjoerg commented on #7
Whoa wow that is fascinating!  I had assumed that the bug affected all game modes.  The fact that it only happens in 1v1 is a massive clue and should make the bug a lot easier to fix. Thanks!

[2016-04-18 15:36] dsjoerg commented on #7
OK, I've narrowed down the problem quite a bit (while streaming my session on twitch which has been fun :) )

The problem is that for certain maps (maybe all 1v1 maps?  not sure) the coordinate system as reported by replay.map.map_info.camera_left, replay.map.map_info.camera_\* is no longer the same as the coordinate system used in the camera events.

Here's a session where I determined this:

[co

[2016-04-18 15:36] dsjoerg commented on #7
So why are certain maps reporting really weird camera coordinates?   I have no clue at the moment.   Maybe there has been a change in the map data format.

In the absence of other ideas, maybe the sc2replaystats guy Anthony Martin will know.  I believe he is parsing some map information as well.  Also the code for SCELight is open source, András might know.  And I can always ask Bliz.

[2016-04-18 15:36] dsjoerg commented on #7
The relevant function starts at https://github.com/GraylinKim/sc2reader/blob/master/sc2reader/objects.py#L478.   With Heroes of the Storm they easily could have added stuff to the map format which would throw off the reader.

[2016-04-18 15:36] dsjoerg commented on #7
OK, asked Anthony, will post if he knows anything.

[2016-04-18 15:36] dsjoerg commented on #7
Anthony doesnt have a way, he does it manually from the Galaxy Map Editor   TT    @gravelweb would you like to take a crack at it from here?   Two ways to go might be 1) look at the byte stream and maybe the correct bytes are obviously sitting there at a different offset, depending on which map version it is   2) look at SCELight / SC2Gears (both of which have code available) and see if either of

[2016-04-18 15:36] dsjoerg commented on #7
Anthony reminded me of another possibility; we could take a different approach completely and use some empirical magic to make a good guess.   We can use the camera events themselves to estimate the min-max range.

[2016-04-18 15:36] dsjoerg commented on #7
_From @gravelweb on April 11, 2016 16:32_

@dsjoerg I'm happy to look into it. Seems like a nice way to get my feet wet here :) Thanks for the details. Will check it out this evening.

[2016-04-18 15:36] dsjoerg commented on #7
_From @gravelweb on April 18, 2016 2:25_

Partial fix pushed to [ggtracker/sc2reader#11](https://github.com/ggtracker/sc2reader/pull/11/files). Details on what I mean by "partial":

This works well with the following maps:
- Invader LE
- Korhal Carnage
- Frozen Temple
- Ruins of Endion
- Dusk Towers

_Unfortunately_, I'm having issues with Prion Terraces now. The symptoms are the same, but obvious

[2016-04-18 15:36] dsjoerg commented on #7
ok cool!  no ideas off the top of my head, basically what i do to diagnose these things is start in the client and work backward until i find bad data, and then look at the parsing code and see why its creating bad data.   i'll take a look at this monday or tuesday night and see what i can figure out.

that said, if ggtracker/sc2reader#11 works on the current ladder maps at least as well as the cu

[2016-04-18 15:36] dsjoerg commented on #7
_From @gravelweb on April 18, 2016 2:34_

I have tried all of the 1v1 ladder maps, since those were the ones affected... But I suppose it would be nice to verify that the other modes still work too 8)

[2016-04-18 15:36] dsjoerg commented on #7
_From @gravelweb on April 18, 2016 2:51_

1v1:
Newly Fixed:
- Dusk Towers
- Frozen Temple
- Ruins of Endion
- Ulrena
- Invader LE
- Korhal Carnage Knockout LE

Still Broken
- Prion Terraces

2v2:
Still Working:
- Infestation
- Omicron
- Sludge City

Newly Fixed:
- Fields of death
- Magma Mines
- Distant Plane
- Moebius Facility XX-1

3v3:
Not tested:
- Avalon Labs
- Backcountry
- Doraelus Hills
-

[2016-04-18 15:36] dsjoerg commented on #7
_From @gravelweb on April 18, 2016 2:53_

Looks pretty good :) I wanted to note, however, that this feature seems to break when reaching a certain part of the replay. I'm not sure if this is related to #16

[2016-04-18 15:36] dsjoerg commented on #7
_From @gravelweb on April 18, 2016 2:55_

The above reported issue is likely related to the timescale changes, as they do not seem to exist in production.

[2016-04-18 15:36] dsjoerg commented on #7
_From @gravelweb on April 18, 2016 3:1_

One more thing. The existing replays don't seem to get reparsed, so this fix will not affect existing replays, unless the user re-uploads them. Is that standard in ggtracker?

[2016-04-18 15:36] dsjoerg commented on #7
@gravelweb we do map processing only once, the first time we see that map.  My plan was to manually somehow force map re-processing in production once you've got this working to your satisfaction.  For your dev testing purposes you can blow away the esdb_sc2_maps row to force a map re-process; however that will screw up any existing parsed esdb_matches rows that refer to the old map_id.

[2016-04-18 15:37] dsjoerg opened #8 "Mothership Absent from Units"
_From @dwinchell on February 14, 2016 19:14_

This seems low priority given the frequency of motherships in current play, but just FYI in the list of units below the main graph on the match detail page, there is no icon for a mothership when a player builds it.

_Copied from original issue: dsjoerg/ggtracker#17_

[2016-04-18 15:37] dsjoerg opened #9 "Time calculations incorrect"
_From @kpaleniu on January 1, 2016 17:8_

The way time is calculated from LotV replays seems to be incorrect. See the following [replay](http://ggtracker.com/matches/6363939). The replay is actually 14:47 long. The graph on the main page says the match lasted 20:43. Is this a known issue?

_Copied from original issue: dsjoerg/ggtracker#16_

[2016-04-18 15:37] dsjoerg commented on #9
Yes it is, thanks for reporting it.
There are a set of time-related issues that were introduced by 3.0 / LotV, including some bugs inside the SC2 client itself.
We are looking for someone who would like to dig in to the time issues and fix them!

[2016-04-18 15:37] dsjoerg commented on #9
_From @Anzumana on January 9, 2016 2:31_

If the issue is still unresolved when my semester break starts i will take a look.

[2016-04-18 15:37] dsjoerg commented on #9
@anzumana great!

[2016-04-18 15:37] dsjoerg commented on #9
Here's a summary of the time issues.

Before 3.0, 1.4 Starcraft minutes = 1 real minute = 960 game frames (loops).
After 3.0 / LotV, 1 Starcraft minute = 1 real minute = 960 game frames (loops).

All of GGTracker was built assuming that 960 game frames / loops = 1.4 Starcraft minutes.  So anything related to time in GGTracker is off by a factor of 1.4.  That includes game length, APM and income.

[2016-04-18 15:37] dsjoerg commented on #9
If someone is interested in giving this a go, **I can set up a Dockerfile** that has all of sc2reader, ggpyjobs, gg, esdb, ggtracker running so that you can get started more easily and test whatever changes need to be made.

[2016-04-18 15:42] dsjoerg commented on #7
Current status: waiting for 3v3 and 4v4 ladder maps to be tested and then I'll merge in https://github.com/ggtracker/sc2reader/pull/11, deploy to production, force map reprocessing and that'll be victory.

[2016-04-18 15:54] dsjoerg opened #10 "AI difficulty shows up as Elite when not elite"
_From @eric-hu on August 13, 2015 21:19_

I thought I noticed this last month, was just chatting with a friend and he ran into this issue too.  Will post a link once I hear back from him.

_Copied from original issue: dsjoerg/esdb#3_

[2016-04-18 15:54] dsjoerg commented on #10
Yes, this is a side-effect of all AI players being mapped to the same ESDB identity.  In order to fix it, I think the easiest way is to establish multiple ESDB::Identity objects, one for each AI level, and then change the identity-mapping code accordingly.

[2016-04-18 15:54] dsjoerg commented on #10
_From @eric-hu on January 11, 2016 6:42_

Just revisiting this issue since I've had it as a to-do to investigate this, but I don't think I'll have time any time soon.  Feel free to close this issue if you'd like to.

[2016-04-18 15:54] dsjoerg opened #11 "retrieving current_solo_league broken perhaps, at least spec is broken"
_From @dsjoerg on August 17, 2014 19:44_

This spec breaks: https://github.com/dsjoerg/esdb/blob/master/spec/sc2_identity_spec.rb#L185

When I investigated, it seemed that there might be an actual bug in bnet_scraper (or at least our fork of it, gem 'bnet_scraper', :git => 'git@github.com:ggtracker/bnet_scraper.git', :ref => 'battlenetify'
).

bnet_scraper.scrape is called in esdb/games/sc2/identi

[2016-04-18 15:55] dsjoerg opened #12 "LOTV update: chrono"
_From @j4p3 on January 10, 2016 17:47_

P macro mechanic should be updated to reflect new usage. [feature]

**Efficiency**: the % of chronoboosted time that buildings are being utilized, e.g. for research, production, or warpgate cooldown.

_Copied from original issue: ggtracker/sc2reader#8_

[2016-04-18 15:55] dsjoerg opened #13 "LOTV update: inject stats"
_From @j4p3 on January 10, 2016 17:44_

Z macro mechanics should be broken into 2 stats, 'consistency' and 'efficiency'. [feature]

**Consistency**: % of game time hatches spend injected.
**Efficiency**: % of total injected time hatches have injects queued.

_Copied from original issue: ggtracker/sc2reader#7_

[2016-04-18 15:55] dsjoerg commented on #13
_From @j4p3 on February 29, 2016 21:6_

To update on this:

There's an issue where some injects aren't read into 'events'. Still haven't nailed down the exact conditions - when the inject is queued, certainly, and possibly when it's shift-queued behind other injects. I'm looking specifically at the reader's command event parser (https://github.com/ggtracker/sc2reader/blob/upstream/sc2reader/reader

[2016-04-18 15:55] dsjoerg commented on #13
_From @EHadoux on March 1, 2016 14:51_

Are you trying to read them at the time the hatching occur or when the injection is performed by the player?

[2016-04-18 15:55] dsjoerg commented on #13
_From @j4p3 on March 1, 2016 21:58_

This issue is actually too specific for sc2reader, it belongs on https://github.com/dsjoerg/ggpyjobs. All we need to resolve the issue here is for `command_update_target_unit_event` and `command_manager_state_event` to leave a record in `replay.events`. Working on a PR now.

To answer your question, though, I'm looking to log injects into `events` at the time t

[2016-04-18 15:55] dsjoerg opened #14 "LOTV update: timescale"
_From @j4p3 on January 10, 2016 17:41_

Replays should be analyzed with the new LOTV real time, instead of Blizz time. [bug]

**To reproduce**:

1. Run any replay

**Expected**:

* Replay length corresponds to number of elapsed minutes/seconds (or hours if you're playing mech)

**Actual**:

* Replay length off by 40% due to normal/faster game speed correction

_Copied from original issue: ggtracke

[2016-04-18 15:57] dsjoerg opened #15 "Mass delete"
_From @dsjoerg on August 17, 2014 20:44_

A commonly requested feature.

Note that, currently, deleting replays is restricted to GGTracker Pro subscribers (the idea being that if you care enough about GGTracker to want to delete a replay, you probably care about it enough that you should be contributing to keeping the server running).  So by the same logic, mass delete should be a GGTracker Pro fe

[2016-04-18 15:57] dsjoerg opened #16 "Remove region selectors from /matches, and put a LADDER selector in its place"
_From @dsjoerg on August 17, 2014 20:41_

As suggested in https://twitter.com/GGTracker/status/478967240046690306

_Copied from original issue: dsjoerg/ggtracker#1_

[2016-04-18 15:57] dsjoerg opened #17 "View counter for player and match pages"
_From @dsjoerg on August 17, 2014 20:45_

Could be fun to have a counter somewhere on match and player pages saying that this page has been viewed X times.

_Copied from original issue: dsjoerg/ggtracker#3_

[2016-04-18 15:57] dsjoerg opened #18 "Mobile-friendly version of site"
_From @dsjoerg on August 17, 2014 20:46_

_Copied from original issue: dsjoerg/ggtracker#4_

[2016-04-18 15:57] dsjoerg opened #19 "Show upgrades / buildings / workers"
_From @dsjoerg on August 17, 2014 20:51_

In the same place where we currently show army composition, we could also show upgrades, and perhaps also buildings and the # of currently alive workers.

_Copied from original issue: dsjoerg/ggtracker#5_

[2016-04-18 15:57] dsjoerg commented on #19
Even just showing workers would be good.

[2016-04-18 15:58] dsjoerg opened #20 ""Travel Advisory": regularly updated winrate by race and league for the current season"
_From @dsjoerg on August 17, 2014 20:56_

and optionally also matchup.

but the primary use case is that a player of race X is wondering which maps to veto on ladder.

i'm imagining the page would work something like http://ggtracker.com/economy_stats#?race=protoss&vs_race=zerg, where the data comes from ESDB, which is updating its stats nightly.

_Copied from original issue: dsjoerg/ggtracker#6_

[2016-04-18 15:58] dsjoerg commented on #20
might also be interesting to see the stats either for the whole SC2  population, or just yourself.

[2016-04-18 15:58] dsjoerg opened #21 "Show build orders"
_From @dsjoerg on August 17, 2014 21:0_

This is a very commonly requested feature.

The first and hardest question is how to visually design it in a "GGTracker" way, keeping it clean, light and not overwhelming to the first-time user.

To get some ideas, have a look at how spawningtool, sc2replaystats and sc2gears/scelight do it and see what you do or don't like.

_Copied from original issue: dsj

[2016-04-18 15:58] dsjoerg opened #22 "See win/loss % by race, matchup, map, league, season, past N games, etc"
_From @dsjoerg on August 17, 2014 21:1_

A popular request.

_Copied from original issue: dsjoerg/ggtracker#8_

[2016-04-18 17:34] dsjoerg opened #23 "Make skillcraft Action Latency calculation more accurate"
_From @dsjoerg on August 20, 2014 18:51_

In skillcraft.py we are counting as "Actions" some things that should not be counted as actions.

https://github.com/dsjoerg/ggpyjobs/blob/master/sc2parse/skillcraft.py#L175

The algorithm should ignore the following actions:

                   Seld
                   Leaving the game
		'Use ability   5f01'
		'Use ability   6e00'
		'Use ability   7b42'

[2016-04-18 17:34] dsjoerg commented on #23
Based on 3 replays that have been parsed in both systems, our algorithm comes up with action latencies ~2.5% faster than the official Skillcraft.ca algorithm.  Hopefully correcting this issue will bring us closer to parity.

[2016-04-18 17:34] dsjoerg commented on #23
_From @Mischanix on August 20, 2014 22:4_

SC2Gears ability ids are the combined 21 bits of `m_abilLink` and `m_abilCmdIndex` directly in the `NNet.Game.SCmdEvent` packet ([s2protocol definition here](https://github.com/Blizzard/s2protocol/blob/master/protocol28667.py#L166)).  So, some bit twiddling can convert between sc2gears ids and sc2reader ids:  sc2reader ids have the 5 bits from `m_abilCmdI

[2016-04-18 17:34] dsjoerg commented on #23
@Mischanix thanks!

[2016-04-18 17:34] dsjoerg opened #24 "Reconsider our stance against __future__ imports. We'll want to use Python3 at some point!"
_From @dsjoerg on July 16, 2014 18:48_

_Copied from original issue: dsjoerg/ggpyjobs#3_

[2016-04-18 17:34] dsjoerg opened #25 "Use mpyq >= 0.2.5 for mpyq now that he's made the release."
_From @dsjoerg on July 16, 2014 18:47_

_Copied from original issue: dsjoerg/ggpyjobs#2_

[2016-04-18 17:34] dsjoerg opened #26 "Use a more modern version of sc2reader"
_From @dsjoerg on July 16, 2014 18:47_

Currently we use an old and behind version of sc2reader: https://github.com/ggtracker/sc2reader/tree/upstream

Which is less efficient, and also not as easily compatible with the newer sc2reader.

_Copied from original issue: dsjoerg/ggpyjobs#1_

[2016-04-18 17:34] dsjoerg commented on #26
_From @dmpaul26 on March 11, 2016 2:58_

Since the version currently used is a bunch of commits ahead and behind the newer sc2reader, my thought was comparing the two branches and going through each commit from the newer sc2reader and make sure there are no conflicts, then checking for logic/runtime compatibility?

This is also old, I'm sure the incompatibility has gotten even more extreme?

[2016-04-18 17:34] dsjoerg commented on #26
This would be difficult, more difficult than all the other things we've talked about doing.

[2016-04-18 17:38] dsjoerg opened #27 "Show SQ graph when Staircase view enabled"
_From @agwblack on April 8, 2016 14:5_

I think a nice feature would be to have a graph that shows Spending Quotient against match number, when Staircase View is enabled. This would let users easily see their progress over time (at the moment you have to mouse over the Spending Skill medal).

_Copied from original issue: dsjoerg/ggtracker#18_

[2016-04-18 17:38] dsjoerg commented on #27
One the one hand this would be cool, on the other hand I think you would find it frustrating because SQ is systematically higher for shorter games.  (See http://ggtracker.com/spending_skill_stats#?race=protoss&gateway=am)   So there would be a fair amount of noise in the SQ graph that's unrelated to the actual spending skill of the player.

That said, as long as it's done in a way that doesn't con

[2016-04-18 17:38] dsjoerg commented on #27
_From @agwblack on April 8, 2016 15:37_

So Spending Skill is just the SQ adjusted for game length? How does this work precisely?

[2016-04-18 17:38] dsjoerg commented on #27
See http://ggtracker.com/spending_skill

[2016-04-18 17:38] dsjoerg opened #28 "Time calculations incorrect"
_From @kpaleniu on January 1, 2016 17:8_

The way time is calculated from LotV replays seems to be incorrect. See the following [replay](http://ggtracker.com/matches/6363939). The replay is actually 14:47 long. The graph on the main page says the match lasted 20:43. Is this a known issue?

_Copied from original issue: dsjoerg/ggtracker#16_

[2016-04-18 17:38] dsjoerg commented on #28
Yes it is, thanks for reporting it.
There are a set of time-related issues that were introduced by 3.0 / LotV, including some bugs inside the SC2 client itself.
We are looking for someone who would like to dig in to the time issues and fix them!

[2016-04-18 17:38] dsjoerg commented on #28
_From @Anzumana on January 9, 2016 2:31_

If the issue is still unresolved when my semester break starts i will take a look.

[2016-04-18 17:38] dsjoerg commented on #28
@anzumana great!

[2016-04-18 17:38] dsjoerg commented on #28
Here's a summary of the time issues.

Before 3.0, 1.4 Starcraft minutes = 1 real minute = 960 game frames (loops).
After 3.0 / LotV, 1 Starcraft minute = 1 real minute = 960 game frames (loops).

All of GGTracker was built assuming that 960 game frames / loops = 1.4 Starcraft minutes.  So anything related to time in GGTracker is off by a factor of 1.4.  That includes game length, APM and income.

[2016-04-18 17:38] dsjoerg commented on #28
If someone is interested in giving this a go, **I can set up a Dockerfile** that has all of sc2reader, ggpyjobs, gg, esdb, ggtracker running so that you can get started more easily and test whatever changes need to be made.

[2016-04-18 17:38] dsjoerg commented on #28
_From @agwblack on April 7, 2016 15:33_

I may be able to help. If you could provide the dev environment then that would be great!

[2016-04-18 17:38] dsjoerg commented on #28
OK @agwblack, will do and will ping you when it's ready

[2016-04-18 17:38] dsjoerg commented on #28
_From @Anzumana on April 10, 2016 14:29_

Won't be able to contribute as i was planning on.
Hope you guys can fix it.
Have a good one.

[2016-04-18 17:38] dsjoerg commented on #28
_From @gravelweb on April 10, 2016 22:33_

I use your tool a lot, and am interested in contributing if i can. If you would provide a docker or vagrant dev environment, I'm happy to help speed this along. Getting this issue and the mini-map issue resolved would be totally great.

[2016-04-18 17:38] dsjoerg commented on #28
Hey @gravelweb great news.  @nickelsen is working on a vagrant setup, see https://github.com/dsjoerg/ggtracker/pull/20

And your catch about 1v1 vs other game modes makes this one quite killable.

I'll take a look and see if I can narrow down where the bug is happening.

[2016-04-18 17:39] dsjoerg commented on #28
_From @gravelweb on April 11, 2016 14:37_

@dsjoerg That's great! A vagrant setup would be really encouraging for new devs on this project.

[2016-04-18 17:39] dsjoerg commented on #28
@gravelweb once you've got ggtrackerstack working in your dev environment, we can talk more specifically about how to make the time-related changes / fixes.   Let me know when you're ready?

The first design question is whether we care about preserving sc2reader / ggtracker correctness for pre-3.0 or pre-3.2 replays.  Of course, the work is trickier if we do.

[2016-04-18 17:39] dsjoerg commented on #28
_From @gravelweb on April 13, 2016 13:31_

@dsjoerg Sounds good. I still need to get settled in with my dev environment and work out the kinks. I'll probably take the rest of the week to do that.

[2016-04-18 17:39] dsjoerg commented on #28
_From @gravelweb on April 14, 2016 12:18_

@dsjoerg Wondering about version and expansion support for ggtacker.
1. Do WoL and HotS replays need to be supported? If the graphs change for LotV (like the chronoboost stat), the old graphs should be kept around if the detected expansion is one of those two.
2. I'm not sure if WoL and HotS were affected by the game time change in 3.0.0.
   - if they wer

[2016-04-18 17:39] dsjoerg commented on #28
@gravelweb ideally we support all versions correctly.

However, I don't want the perfect to be the enemy of the good.  I figure that first we'll get things working for the current version, and break all previous versions.   Then, if there's interest, we can go back and add backwards compatibility.

[2016-04-18 17:39] dsjoerg commented on #28
_From @gravelweb on April 14, 2016 12:59_

@dsjoerg well put. something to consider, but not to prioritize. I suppose we should be able to start tackling this issue shortly

[2016-04-18 17:39] dsjoerg opened #29 "Integrate DorkShrine into GGTracker"
_From @dsjoerg on September 12, 2014 15:38_

I've been using github.com/dsjoerg/DorkShrine for ~6 weeks now to practice my builds and it's been quite helpful.

_Copied from original issue: dsjoerg/ggtracker#12_

[2016-04-18 17:39] dsjoerg opened #30 "Use the new Blizzard API so we can get rid of the change-your-portrait authentication system"
_From @dsjoerg on August 22, 2014 11:52_

_Copied from original issue: dsjoerg/ggtracker#11_

[2016-04-18 17:39] dsjoerg commented on #30
_From @pencil on August 24, 2014 9:34_

I'm currently unable to authenticate my account:
![screenshot 2014-08-24 11 32 20](https://cloud.githubusercontent.com/assets/812086/4023068/9f33b8ce-2b71-11e4-9b00-5a66f0a8e0af.png)

Are you already working on this feature? I'd love to implement this and open up a PR :grin:

[2016-04-18 17:39] dsjoerg commented on #30
I'm not currently working on this, go for it!

[2016-04-18 17:39] dsjoerg commented on #30
Also, I would be happy to manually authenticate your account, let me know what your bnet URL is.  And sometimes the issue happens due to adblock, you could try disabling that.

But of course if you implement this one then all these issue will go away, it'll be more robust and you'll make a lot of people happy :)

[2016-04-18 17:39] dsjoerg commented on #30
_From @pencil on September 11, 2014 23:13_

Sorry, life got in the way. :disappointed:

Although Blizzard recommends using a library to do the authentication, I did not manage to find a fitting gem. There is of course `omniauth` but I think it would be a misfit in this case, given that you don't want to use the Battle.net account as the actual login for the website. I'd therefore go for a custom s

[2016-04-18 17:39] dsjoerg commented on #30
omniauth would be a good way to go, and would not require that battle.net be used for logging in to the website.

i've done something similar on another site i built: superego.herokuapp.com.  on that site you can link your account to your fitbit, runkeeper and jawbone accounts.

the way i do it there is:

in `app/views/users/show.html.erb`:

[code]

when the users clicks on the `/auth/fitbit` link

[2016-04-18 17:39] dsjoerg opened #31 "Show Action Latency"
_From @dsjoerg on August 20, 2014 19:0_

Now that Action Latency is being computed for every player in every replay: https://github.com/dsjoerg/ggpyjobs/blob/master/sc2parse/skillcraft.py

What remains is to show it in the appropriate place(s) in the front end.

Action Latency is the average time from when a player looks in a new place to when they take their first action.

http://www.teamliquid.n

[2016-04-18 17:39] dsjoerg commented on #31
Note that Action Latency is now available in the API, for example: http://api.ggtracker.com/api/v1/matches/5346622.json

Search that json for action_latency_real_seconds, you'll see a number like 0.658

[2016-04-18 17:39] dsjoerg opened #32 "Show supply cap times"
_From @toff63 on August 19, 2014 19:33_

Nicely show the periods when the play was supply cap and the total time during the game he was supply cap. This is a basic mistake for beginner. Fixing this issue will help player to improve

_Copied from original issue: dsjoerg/ggtracker#9_

[2016-04-18 17:40] #32 closed

[2016-04-18 17:41] dsjoerg commented on #14
Duplicate of #28

[2016-04-18 17:41] #14 closed

[2016-04-18 17:42] dsjoerg commented on #12
Duplicate of #6

[2016-04-18 17:42] #12 closed

[2016-04-18 17:42] dsjoerg commented on #9
Duplicate of #28

[2016-04-18 17:42] #9 closed

[2016-04-18 17:45] dsjoerg opened #33 "Show supply cap times"
_From @toff63 on August 19, 2014 19:33_

Nicely show the periods when the play was supply cap and the total time during the game he was supply cap. This is a basic mistake for beginner. Fixing this issue will help player to improve

_Copied from original issue: dsjoerg/ggtracker#9_

[2016-04-18 17:45] dsjoerg commented on #33
good idea, that is a popular request and may be a reasonable one for someone new to the codebase.

as far as how to show it — one way would be to add a new graph to the bottom section that shows both players total supply.  on that chart, instead of highlighting combat periods, we could highlight the supply-blocked periods.

alternatively, there could be a per-user option to choose whether they wan

[2016-04-18 17:45] dsjoerg commented on #33
By the way, if anyone wants to work on this, have a look at https://github.com/dsjoerg/ggpyjobs/blob/master/sc2parse/sc2reader_to_esdb.py#L196

That's where we walk through the tracker_events and pick out the PlayerStatsEvents.

[2016-04-18 17:45] dsjoerg commented on #33
Or if you want a finer-grained look at whether a player is supply capped, you could walk through the finer-grained events of unit and building births and deaths.

[2016-04-19 02:22] gravelweb commented on #7
All done. I made a table:

| Map | Mode | Status |
| --- | --- | --- |
| Dusk Towers | 1v1 | Fixed |
| Frozen Temple | 1v1 | Fixed |
| Ruins of Endion | 1v1 | Fixed |
| Ulrena | 1v1 | Fixed |
| Invader LE | 1v1 | Fixed |
| Korhal Carnage Knockout LE | 1v1 | Fixed |
| Prion Terraces | 1v1 | Still Broken |
|  |  |  |
| Infestation | 2v2 | Still Working |
| Omicron | 2v2 | Still Working |
| Sludge Ci

[2016-04-19 02:57] gravelweb commented on #7
In case you're curious, [scelight](https://github.com/icza/scelight/blob/43d13df8a3ab718afb1bb9b0095f89d5d215bcaf/src-app/hu/scelight/sc2/map/MapParser.java#L92) does the same rigamarole as we do for map parsing. They do it slightly differently, in that from position 0x20 they read "string, uint32, string", but we're now reading "string, string, uint32". These are all unknowns, but the way we're d

[2016-04-19 13:23] dsjoerg opened #34 "Should submodules automatically track the latest on their branch?"
Currently our submodules are fixed to specific commits.
Would it be better if they automatically tracked the latest?

See http://stackoverflow.com/questions/9189575/git-submodule-tracking-latest for a discussion of how to do this.   However I'm no git expert so I'm not sure how "automatic" the resulting solutions really are.

@nickelsen what do you think?

[2016-04-19 13:31] eric-hu commented on #10
Totally understand, I wanted to look into it over the last few months too.  Unfortunately I don't think I'll have the time either.  It looks like I don't have closing rights to this issue.  If you'd like to close it, that's all right with me.

[2016-04-19 13:37] dsjoerg commented on #10
@eric-hu let's leave this open, now that ggtrackerstack makes it easier to mess with ggtracker, maybe someone else will be inspired by this issue to fix this problem.

[2016-04-19 13:47] nickelsen commented on #34
Yes, something like this is definitely needed for us to stay sane - both for ggpyjobs in esdb and for the repos in ggtrackerstack. I'll try to see if I can get it working with the help in the link.

[2016-04-19 13:49] dsjoerg commented on #28
Before the fixes done in this issue can be released to production, two serious problems:
1) the combat regions that are highlighted on all the charts are now misaligned
2) the last ~40% of the APM chart is cut off

To see this for yourself, upload a replay from GGTracker onto your ggtrackerstack and look at the two pages side by side.

Once these are fixed I'll deploy everything to production and

[2016-04-19 13:50] dsjoerg commented on #28
By the way @agwblack dev environment is ready!

[2016-04-19 13:53] dsjoerg commented on #7
Outstanding work!   Releasing this to production will proceed once problems noted in #28 are resolved.

[2016-04-19 14:16] dsjoerg opened #35 "minimap replay is out of sync"
see https://github.com/ggtracker/sc2reader/pull/10#issuecomment-211617073

[2016-04-20 14:32] #34 closed

[2016-04-20 14:36] dsjoerg opened #38 "credit recent contributors"
@nickelsen how would you like to be credited on the FAQ?  I was going to write [Anders Nickelsen](https://twitter.com/anickelsen) built ggtrackerstack and initiated active development for the LotV era, with additional contributions from @gravelweb.

@gravelweb how would you like to be credited?  Do you have a twitter or should I just refer to you as @gravelweb @ github?

[2016-04-20 15:17] nickelsen commented on #38
That sounds very good to me. :-)

[2016-04-20 15:53] gravelweb commented on #38
That's cool :) thanks! Don't really have a respectable social identity, so gravelweb@github is just fine for the time being.

[2016-04-26 20:17] dsjoerg commented on #28
Remaining work before the improvements can roll into production:
1) spending skill leagues are very different for a replay between dev and prod. not sure if that's because of time changes or because of data diffs between prod and dev.
2) econ badges are totally missing in dev.

I'll take a first whack at these.

[2016-04-26 21:15] dsjoerg commented on #28
Econ badges are missing because the econ badges are computed based on benchmarks computed from existing replays in the DB.  See `esdb/games/sc2/match/entity.rb`, `compute_saturation_skill_benchmarks()`

[2016-04-26 21:17] dsjoerg commented on #28
OK, the spending skill change is a real problem.   Spending skill is computed by using historical matches, and doing a lookup that includes the match length.  With this change we are changing the meaning of match length.

[2016-04-26 21:23] dsjoerg commented on #28
Easy hack might be to introduce an adjustment factor here: https://github.com/dsjoerg/esdb/blob/master/esdb/games/sc2/match/entity_summary.rb#L146

and here: https://github.com/dsjoerg/esdb/blob/master/Rakefile#L122
(and to the two other references to `duration_seconds` on lines 136-137)

@nickelsen what do you think?

The essence of the hack proposal is to keep the `replays_sq_skill_stat` table i

[2016-04-27 01:14] dsjoerg commented on #28
After further reflection I think the hack proposal is the way to go, so that we can get all this good new code out into production.

The main liabilities of this hack can be addressed in a separate piece of work:
1) pages such as [this](http://ggtracker.com/spending_skill_stats#?race=protoss&gateway=am) will be totally wrong as they are still using "old minutes"
2) the code itself will be confusin

[2016-04-27 01:39] dsjoerg commented on #28
on further thought, hacking the code there isn't the right way to do the hack.
instead i need to adjust the existing data with a migration, and then fix the spending skill code so that it works.

[2016-04-27 07:41] luisdelarosa opened #39 "APM on summary page is different from Blizzard APM"
Hey I really appreciate ggtracker but one thing that I wish I could fix is the APM on the summary of your matches screen. It is very different from the APM shown on the in-game screen after a match is finished, but not by the factor of 1.4 that I've seen referenced in other places where there are 3.0/LOTV bugs mentioned.

Is there any way we can get the APM to be the same as what Blizzard shows us

[2016-04-27 07:53] nickelsen commented on #28
We could also revert [the time-change I did in sc2reader](https://github.com/ggtracker/sc2reader/commit/b36791c9dec71c33e7662dc7c7d8fd0a62fa645d) to fix duration_seconds. Then everything in esdb is still in HotS seconds and spending skill should not be affected. Then we 'just' need to recalculate match duration where it is shown. This might be an easier fix for the time issues, although, I haven't

[2016-04-27 10:07] dsjoerg commented on #28
Yes @nickelsen I think that is also a viable strategy.   However, I think that my immediately-previously stated strategy is the easiest way to get something out and deployed and running right now.

[2016-04-27 10:09] dsjoerg commented on #39
Hi @luisdelarosa !   We don't have replays that we use for APM validation, if you could put something like that together it would be super helpful.

There is some active work to fix time-related stuff, and maybe we've fixed APM to your satisfaction, but we're lacking the validation replays to be sure.

You could organize some replays together with what the APM in them is according to Blizzard, tha

[2016-04-27 10:10] dsjoerg commented on #39
btw time-related active work described [here](https://github.com/ggtracker/ggtrackerstack/issues/28)

[2016-04-27 10:41] nickelsen commented on #28
Great, let's go with that then. 👍

[2016-04-27 13:52] dsjoerg opened #41 "idea: show numbers instead of badges for spending skill"
see discussion at https://twitter.com/AicyDC/status/725313634646282240?cn=cmVwbHk%3D&refsrc=email

[2016-04-27 18:32] dsjoerg commented on #28
OK, I've tested spending skill in the testing environment and I'm satisfied that it's going to work OK.
Tomorrow I'l do a deploy to production.  My plan:
- manually:
  *\* convert LOTV matches to have the correct (shorter) duration (update m.duration_seconds for all matches since 2015-11-09)
  *\* recompute spending skill table based on those durations (manually run the SQL)
  *\* get api.ggtracke

[2016-04-28 08:15] nickelsen commented on #28
Great - that's not an easy task! Let me know right away if I need to help or look into something.

[2016-04-28 17:30] dsjoerg commented on #38
Done and in production!

[2016-04-28 17:30] #38 closed

[2016-04-28 17:32] dsjoerg commented on #35
Fixed by @gravelweb with https://github.com/ggtracker/sc2reader/commit/73d11a9a1cd7bd2a2991014bc9f7352c394d83d0

[2016-04-28 17:48] dsjoerg commented on #35
Deployed and working in production!   Any new replays uploaded (or re-uploaded) will get the fixed minimap.  Thanks @gravelweb!

[2016-04-28 17:48] #35 closed

[2016-04-28 17:48] dsjoerg commented on #28
Deployed and working in production!   Thanks & congrats @nickelsen and @gravelweb.

[2016-04-28 17:48] #28 closed

[2016-04-28 17:50] nickelsen commented on #28
Awesome job @dsjoerg - thanks for all the help and introductions to the code base!

[2016-04-28 17:51] dsjoerg commented on #35
Actually @nickelsen fixed this particular issue with https://github.com/dsjoerg/ggtracker/commit/29995cb9bb8ec0543d982dcfa1b22125b4383d42

[2016-04-28 17:51] gravelweb commented on #35
Thanks @dsjoerg! Hoping to find time to contribute more soon. Thanks for your support!

[2016-04-28 17:52] gravelweb commented on #35
Yes, you meant #7 :)

[2016-04-28 17:54] dsjoerg commented on #7
deployed and fixed in production.
and somehow even Prion Terraces is working!  see http://ggtracker.com/matches/6617813 as an example

[2016-04-28 17:54] #7 closed

[2016-04-28 17:55] gravelweb commented on #7
Well I'll be darned...

[2016-04-28 17:55] gravelweb commented on #7
Woohoo!

[2016-04-28 17:56] gravelweb commented on #28
Nice job @nickelsen. Awesome fixes these past few weeks :+1:

[2016-04-28 18:03] nickelsen commented on #28
You too, @gravelweb - super nice with the install script for the stack too!

[2016-04-28 18:04] dsjoerg opened #42 "Income shown on Match page is 1.4x lower than the income shown in game client"
For example in this match: http://ggtracker.com/matches/6617852
income at 3:35 is 1147 for Terran, 1091 for Protoss in the in-game income tab.
However on the GGTracker match page it shows as 823 for both of them.

The reason for this is that internally we store the income as 823 (which is the HotS-style income) but when showing things to users of course we should show them as LotV-style.

Or of co

[2016-04-28 18:04] dsjoerg commented on #42
Same goes for gas income, of course.

[2016-04-28 18:06] dsjoerg opened #43 "Spending Quotient calculator and displayed formula are no longer correct"
The old Spending Quotient formula was built for pre-LotV numbers.

For the LotV era, the formula should be updated to have a 1.4 in it, the pages that mention the formula should be changed, and the calculator page should be changed too:

http://ggtracker.com/spending_skill_stats#?race=protoss&gateway=am

[2016-04-28 18:08] dsjoerg opened #44 "Economic benchmarks are out of date"
It used to be that 640 mineral income was a fully-saturated base.   Now it's 896.

Everyplace in the system that uses 640 and multiples of 640 should be updated.  For example:
http://ggtracker.com/economy_stats#?race=protoss&vs_race=zerg

And the parallel changes should be made for gas.

And all the same goes for TheStaircase-related code.

[2016-05-02 13:23] dsjoerg opened #45 "Support HotS/WoL properly"
Fabian writes "... but for a few weeks in all games that I upload the particular time I reach 1 Base Mineral Income is calculated wrong (so I get the bronze badge all the time). At the twitter accunt you told at April 8th that economic benchmarks should be OK again, but not for me. I tried to delete all games I uploaded so far and uploaded a few new ones, but this didn't change the behavior.

I pl

[2016-05-02 13:24] dsjoerg opened #46 "Add note to HotS/WoL match pages that HotS/WoL is not currently supported well"

[2016-05-02 13:24] dsjoerg commented on #46
Due to issues noted in #45

[2016-05-02 13:25] dsjoerg commented on #45
When we fixed LotV, some of how we fixed it broke HotS.  For example https://github.com/dsjoerg/ggpyjobs/commit/b913a3cdf23e9fb12a2d109c3222f62f17649878

[2016-05-18 12:41] gravelweb opened #47 "3.3.0 Update - Replays cannot be uploaded"
Some users are reporting that they cannot upload their replays (https://twitter.com/dirak_/status/732745048111087616). Looking at GGTracker, replay uploads have definitely slowed down since the 3.3.0 patch.

[2016-05-18 12:49] dsjoerg commented on #47
People started reporting issues on May 14th so I suspect that GGTracker has operational problems unrelated to 3.3.0.  https://twitter.com/derekduoba/status/731613284965699588

There may also be a 3.3.0 problem, it doesnt have to be just one or the other.

Anyway, if you can get any example of a reproducible problem in production or in dev that would help a lot.

[2016-05-18 12:51] gravelweb commented on #47
Stack trace from failed upload:

`12:45:18 python.1     | 2016-05-18 12:45:18  2174 INFO     parsing failed for replay uploads/a4760eb5-afc5-419f-9d35-15e066f10b75/issue47.SC2Replay. oh well. exception='utf8' codec can't decode byte 0xaf in position 0: invalid start byte. <type 'exceptions.UnicodeDecodeError'> jobs.py 73 Traceback (most recent call last):
12:45:18 python.1     |   File "/vagrant/e

[2016-05-18 12:56] gravelweb commented on #47
I've included the stacktrace, replayfile, as well as extracted the files from the MPQ archive in the tarball below.
[issue47.tar.gz](https://github.com/ggtracker/ggtrackerstack/files/270513/issue47.tar.gz)

[2016-05-18 12:58] dsjoerg commented on #47
OK, asked Bliz for new protocol file. https://github.com/Blizzard/s2protocol/issues/34

[2016-05-19 12:35] gravelweb commented on #47
This is actually not affecting 2v2 and 3v3 (possibly 4v4 as well). Looks like just the 1v1 format changed?

[2016-05-19 20:55] dsjoerg commented on #47
I pushed out a fix yesterday: https://github.com/ggtracker/sc2reader/commit/3bc825ce73eb6d9b0f8bfe0b38976cea1dd39062

I believe 3.3.0 are being handled correctly now.  There is still a separate heisenbug that started happening ~4 days ago before 3.3.0 came out.

[2016-05-19 20:55] #47 closed

[2016-05-27 14:49] dsjoerg opened #48 "Terran macro messed up by LotV?"

[2016-06-04 20:21] nickelsen commented on #48
Energy regeneration rate is calculated per frame. Since both regeneration rate _per second_ and frames per second are changed in LotV, the energy regeneration rate _per frame_ is the same as before LotV.

I looked through the replay in-game and compared to the output of the [plugin that tracks terran macro](https://github.com/dsjoerg/ggpyjobs/blob/90531da93a1e40e4d7adfcf5d0b5e48003578071/sc2parse/

[2016-06-05 15:17] gravelweb opened #49 "Zerg macro doesn't work with Queen command group target change"
Using [this game](http://ggtracker.com/matches/6616285) as an example, I've been trying to figure out why only one hatchery is being tracked. I've narrowed it down the cause to the inject method used by the Zerg player:

1. Select queen control group, shift+inject_hot_key
2. Camera hotkey to first base
3. Left click on the hatchery
4. Camera hotkey to second base
5. Left click on the hatchery

I'v

[2016-06-05 15:20] gravelweb commented on #49
@dsjoerg Is there someplace these events and their data are documented, so that I can create a handler for this event?

[2016-06-05 15:35] gravelweb opened #50 "LOTV: Zerg macro doesn't work when queuing injects"
Looks like queueing injects causes the previous inject to be unregistered.

sc2parse/plugins.py:1153 (ZergMacroTracker)
[code]

[2016-06-07 11:20] dsjoerg opened #51 "Some units such as Lurkers not shown properly on match page"
Example match: http://ggtracker.com/matches/6243833

Has been broken since LotV

[2016-06-07 13:23] dsjoerg commented on #51
Not sure what the problem is exactly.  From viewing the source of http://ggtracker.com/matches/6243833 it seems that the problem is not in the ggtracker codebase but in something upstream from there.  I'd advise starting with sc2reader and working from there.

[2016-06-07 21:33] dsjoerg commented on #49
@gravelweb not really.  in the past we've figured these things out through trial and error and looking at a bunch of examples.  if all that failed and there was still a mystery, Blizzard has helped out in the past.

[2016-06-07 21:34] dsjoerg commented on #13
Looks like #49 and #50 might be the keys to resolving this.

[2016-06-07 22:08] gravelweb commented on #13
Oops must have looked over the issue. Anyhow, I'm on it :)

[2016-06-07 22:13] dsjoerg commented on #13
BTW someone posted on uservoice 3 days ago:

[2016-06-07 22:20] dsjoerg commented on #48
@nickelsen, this is unexpected and could be the source of the problem.

[2016-06-07 22:21] dsjoerg commented on #48
@nickelsen i haven't seen something quite like this before, but like issues #49 and #50 it could be that the precise method used by the player to call down the MULE might create events that the plugin is currently not looking for or recognizing.

in general i expect it will be something like this.

[2016-06-08 06:06] nickelsen commented on #48
Thank you, @dsjoerg! I'll keep investigating in that direction.

[2016-06-08 12:13] gravelweb commented on #48
Hey @nickelsen, if this is related to "shift clicking" down mules, I think I have a fix hacked up on my end. Could you provide link to said replay, and I'll check if it fixes the number of mules called down?

[2016-06-08 13:10] nickelsen commented on #48
That sounds really good, @gravelweb! You can find the replay at http://ggtracker.com/matches/6660913.

[2016-06-09 04:04] gravelweb commented on #48
![terranmacro](https://cloud.githubusercontent.com/assets/1606361/15918535/b441444e-2dd5-11e6-9729-199db1d9ec26.png)

Yeap, nice Macro HikkiMan!

[2016-06-09 13:17] dsjoerg commented on #48
Very exciting @gravelweb !

[2016-06-11 19:07] gravelweb commented on #48
While creating unit tests, it looks like 29 CalldownMULE events are being processed, and I've double checked the replay to confirm that only 25 should be present. I'm guessing this is due to insufficient energy in the orbitals. @nickelsen @dsjoerg what should we do here? This has the potential of skewing the stats for spammer types. I'll do a quick look see if I can't factor that information in th

[2016-06-11 19:09] dsjoerg commented on #48
@gravelweb I've seen things like this before; the replay contains the commands issued by the user, regardless of whether they succeed or not.

In the case of MULEs, however, one way to work around the problem is to look for the creation of a new MULE unit.  Every time a unit is created, there's a tracker event for that, and we know who the owner is, and we know how much energy that costs.

Would t

[2016-06-11 19:21] gravelweb commented on #48
That would work for the MULEs I think. Would that be at the ggpyjobs level or at the sc2reader level? Maybe it's better that sc2reader picks up all events, and it's up to ggpyjobs to find the events that it cares about. If that's the case, then perhaps the unit_test in sc2reader needs to pick up 29 calldowns (there's just no way to confirm where those come from).

We'll need to consider how to sol

[2016-06-11 19:38] dsjoerg commented on #48
With energy tracking we can probably do a decent job of estimating the base energy and then guessing whether or not the command succeeded or failed.  Have a look at ggpyjobs/sc2parse/plugins.py ProtossTerranMacroTracker.  Maybe that's already close to what we need?

So the sc2reader layer's responsibility is strictly to parse events (which are player-generated and may have succeeded or not), and t

[2016-06-13 00:43] #49 closed

[2016-06-13 13:26] dsjoerg commented on #48
fix deployed thanks @gravelweb @nickelsen !

[2016-06-13 13:26] #48 closed

[2016-06-13 13:29] dsjoerg commented on #50
Fixed by https://github.com/ggtracker/sc2reader/pull/14 and https://github.com/dsjoerg/ggpyjobs/pull/11

[2016-06-13 15:30] jfremer commented on #13
Hi @gravelweb,

Thanks for your work on this, I really appreciate it.

I re-uploaded my test replay and the inject graph is now blank: http://ggtracker.com/matches/6673591 .  I believe there may be a bug in this implementation.

Thanks again.  The Swarm is counting on you!  ;)

Josh

[2016-06-13 15:57] gravelweb commented on #13
@jfremer That is interesting! I'll try to investigate this issue ASAP. Unfortunately I will be MIA for 2 weeks as of Thursday, but maybe I can get to it before!

Can you provide details as to how you perform your inject cycles? (hotkeys, control groups, etc.)

[2016-06-13 15:59] gravelweb commented on #50
The queued injects are still not showing up in the graph, because of the code above ^^ I'm looking to solve this in the beginning of July.

[2016-06-13 16:24] jfremer commented on #13
Hi Jonathan,

Thanks for your prompt reply.  Here's my method:
- Bind all queens to hotkey 5
1. Invoke the base camera command (I think the default key for this is backspace; I use tilde)
2. Select my Queen group via hotkey 5
3. Tap V (inject larva command key)
4. Click on the centered hatchery in the main screen
5. Repeat steps 1 - 4 as fast as I can for each hatchery

I never use the shift key f

[2016-06-13 17:24] gravelweb commented on #13
@jfremer Thanks for the details. That's all very helpful. The fix I introduced was for shift+clicking injects (with multiple queens selected), which should not have affected you at all. Having your replay will be helpful.

One follow-up question:
What did the graph look like before re-uploading with the new "fixes"? As far as I know, the problem with queued injects (which you are doing) existed pr

[2016-06-13 17:25] gravelweb commented on #13
see #50 for queuing related issue.

[2016-06-13 17:37] jfremer commented on #13
Prior to the latest update, the graph showed sporadic injects on two hatcheries.  I think there were maybe around 8 injects graphed.  Expected behavior was consistent injects on three hatcheries.  The % was low; below 20 IIRC.  Sorry; I didn't think to take a screenshot.

[2016-06-13 17:47] gravelweb commented on #13
@jfremer I figured that would have been a lot to ask :) I can always checkout an earlier version of ggtracker to see the graph if I absolutely need to. Thanks for the info. I'll probably have some time tomorrow evening to look into it (always looking for an excuse not to play ladder, anyways!)

[2016-06-14 05:35] jfremer commented on #13
@gravelweb I uploaded a more comprehensive reference replay at http://ggtracker.com/matches/6687647

For this one I just followed a script that included all the different inject variations I could think of, then I plugged in the timestamps as I went through it.  That timeline is in the attached txt file.

[zerg macro script.txt](https://github.com/ggtracker/ggtrackerstack/files/313207/zerg.macro.s

[2016-06-14 11:53] gravelweb commented on #13
Very nice @jfremer! Seems like valuable data indeed. Thank you.

[2016-06-15 01:38] gravelweb commented on #13
OK I did some digging for you, @jfremer. The reason you are not seeing injects is for two different reasons:

Replay 1 (http://ggtracker.com/matches/6673591): Apparently you rocked at injecting, because almost all of you injects were overwritten by the next due to queuing (see issue #50). I said I was expecting the last inject to show up at least, but ggtracker will only track injects that have ac

[2016-06-15 01:52] dsjoerg commented on #13
regarding replay 2, is that a vs-AI match?  we do support vs-AI, i wonder if vs-AI support got broken somehow recently.

[2016-06-15 02:25] jfremer commented on #13
That second replay is actually one-player. I started a custom game and didn't add an opponent. I was trying to keep the replay data as simple as possible. Guess I was over-thinking it!

[2016-07-03 22:35] gravelweb commented on #13
Hey @dsjoerg, I'm looking at a scenario where a queen issues the inject ability, but never reaches the hatch that needs to be injected before being redirected to doing something else. Is there any way to detect a cancelled ability within sc2reader?

I'm thinking the logic behind this would be to figure out how far the queen is from the target hatch, figure out how long it would take to get there,

[2016-07-03 23:34] dsjoerg commented on #13
Hi @gravelweb another way to go is to track the creation of the larva units.  I suppose that a large % of the time, larva creation is equivalent to a successful inject.  The exception is when the hatch is destroyed before the larva can pop out.   Now, I'm not sure which estimate is going to be worse — inject abilities or larva creation?  The former is an overestimate and the latter is an underesti

[2016-07-04 14:06] gravelweb commented on #13
Good outside the box thinking @dsjoerg. That hadn't even crossed my mind before. Maybe the egg death event could be the solution here? This is assuming that the eggs are units. When an egg dies, it has either spawned larva, or the hatch has been destroyed, no? I'd have to test that out.

[2016-07-13 03:01] gravelweb opened #52 "3.4.0 Patch - ~50% of replays don't work"
I took a quick look and I believe the problem is that the wrong abilities are being picked up by the replay. For example, one game I'm looking at has a Terran using the 'ChronoBoost' Ability.

[issueYY.SC2Replay.zip](https://github.com/ggtracker/ggtrackerstack/files/360607/issueYY.SC2Replay.zip)

[2016-07-13 03:12] dsjoerg commented on #52
argggh OK will look into it tomorrow

[2016-07-13 13:55] dsjoerg commented on #52
OK have a breaking test with this replay: https://github.com/dsjoerg/ggpyjobs/commit/7c0b1a41446a9c9f132e8c03538144cb69bb481c

Indeed something weird going on with abilities, here's the stacktrace: https://gist.github.com/dsjoerg/5ef6312c5eaa90eaf629fd9038c88ca1

[2016-07-13 13:56] dsjoerg commented on #52
However now that I think about it, that is super weird because I was able to parse the exact same replay just fine using sc2reader.  Now I have my WTF moment, hopefully this leads somewhere.

[2016-07-13 14:10] dsjoerg commented on #52
Very strange, sc2reader thinks there's a DecloakGhost ability used in the first 30 seconds of the replay: https://gist.github.com/dsjoerg/bd23f72fd32900d9aac36eff7c309792

[2016-07-13 14:18] dsjoerg commented on #52
OK I think we either need to run sc2dump.cpp or perhaps simply do an "Export Balance Data" from the galaxy editor.

[2016-07-13 14:21] dsjoerg commented on #52
@gravelweb @nickelsen @fx if you're around can you do an Export Balance Data using SC2 3.4 and post the resulting files?  And/or run sc2dump.cpp?

[2016-07-13 14:24] dsjoerg commented on #52
Let's keep it simple, I have an email from Sept 2015 from @GraylinKim confirming "Yes all of the ability/unit data is in there" re the "Export Balance Data"

[2016-07-13 14:39] fx commented on #52
Don't have time to get myself back into the stack right now, it's been too long, sorry.

[2016-07-13 16:04] nickelsen commented on #52
I have the export running now for the first time ever, so I'll try and get some results and post them here.

[2016-07-13 16:09] nickelsen commented on #52
[balance-data-3.4-2016-07-13.zip](https://github.com/ggtracker/ggtrackerstack/files/361904/balance-data-3.4-2016-07-13.zip)

I chose Export Balance Data -> LotV. It said that the export failed due to a fatal error, but the log only showed warnings about localization files missing. I don't know if that's a big deal, but here is the zipped contents of the folder I pointed it to.

[2016-07-13 16:20] dsjoerg commented on #52
Thanks!  I also have the data from @EHadoux.  Next question is how to turn this data into the files of the kind we see in data/LotV/*.csv.  I have an email out to @GraylinKim asking, as I'm trying to feed kids lunch at the moment :\

[2016-07-13 17:09] dsjoerg commented on #52
If any of you are capable of compiling and running a C++ executable on a Windoze box, you would save the day: https://github.com/ggtracker/sc2reader/blob/upstream/sc2dump.cpp

[2016-07-13 17:23] gravelweb commented on #52
I have windoze on an old laptop. Let me try to resurrect it.

[2016-07-13 18:40] gravelweb commented on #52
Unfortunately my laptop is no longer in the land of the living. No other windows box available atm. Sorry!

[2016-07-13 20:29] dsjoerg commented on #52
OK @gravelweb that replay is working now!  http://ggtracker.com/matches/6726920

Will close this issue the failure rate drops back to usual.

[2016-07-13 20:31] gravelweb commented on #52
\o/

I take it the CSV with all the abilities needed to be regenerated for 3.4?

[2016-07-13 20:37] dsjoerg commented on #52
@gravelweb yep.  will post about how i did it, i used the Balance Data which hadn't been done before.

so far the new code has handled 10 out of 10 replays successfully, a lot better than the old 36% failure rate.

[2016-07-13 20:43] dsjoerg commented on #52
28 out of 28 handled correctly.  added a HOWTO: https://github.com/ggtracker/sc2reader/commit/a131d50f31bf30d431157c8670d51b1e492ae9ea

victory!

[2016-07-13 20:43] #52 closed

[2016-09-27 15:08] nickelsen commented on #44
I've been hovering around this for a while, but it feels close to the core and like a big task.

However, when I searched for references to 640 in the code, I only found these:
ggpyjobs: https://github.com/dsjoerg/ggpyjobs/search?utf8=%E2%9C%93&q=640
ggtracker: https://github.com/dsjoerg/ggtracker/search?utf8=%E2%9C%93&q=640

@dsjoerg What do you think - would those be the main entrypoints for the

[2016-09-27 18:29] dsjoerg commented on #44
I think those are the right entrypoints for the fix.
However I'm not sure that the 896 is actually correct.

Once we have the correct number, while changing the number in the code is trivial, then the old stats should either be thrown out, or they should be recomputed on a bunch of old games.

I suppose the lazy good-enough thing would be to update the number in the code to whatever the new number

[2016-09-28 06:02] nickelsen commented on #44
Yes, I'll give it a go. Thanks for the insights and suggestions - very useful.

I also found this awesome post about the theoretical saturation rates:
http://www.teamliquid.net/forum/starcraft-2/501306-comprehensive-lotv-production-spreadsheet which I'll compare the empiric results to.

I'll try and make it in small steps. I think this back-shifting has to be changed also, which might have further

[2016-09-28 13:15] dsjoerg commented on #44
Ah, good old TL.  Speaking of TL, maybe it's best to ask the community who are actively trying to use this economic benchmarking system.  I posted the question on TL here: http://www.teamliquid.net/forum/sc2-strategy/374400-thestaircase-an-alternative-improvement-method?page=76#1511

I'll check in tomorrow and see if they have any concrete suggestions.

Regarding the code that you identified (http

[2016-09-28 14:06] dsjoerg commented on #44
@nickelsen JaKaTaK, maker of TheStaircase (the system that uses the economic benchmarks heavily) would love to speak with you, his email is jakataksc2 at gmail.com.

[2016-09-28 14:19] nickelsen commented on #44
Awesome - I'll reach out to him. Thanks a lot for the connection!

[2016-10-03 20:19] nickelsen commented on #44
I recorded a bunch of replays with 16 workers on one-base minerals (2 on each patch) and 6 gas workers (3 on each) on each map in the current 1v1 ladder pool.

Looking at the rates in-game, the benchmarks appear to be 870 mineral/minute (640 \* 1.36) and 310 gas/minute (228 \* 1.36). As far as I can infer, the HotS benchmarks were lower bounds, since that actual rates vary quite a bit (from 617  t

[2016-10-06 14:39] dsjoerg commented on #44
With the replays you recorded with 16 workers on one base, the mineral income rate was around 870 minerals/minute?   I wonder whether we should count "saturation" as 16 workers or 24.  That would be better answered by JaKaTaK.  If he says 16, then I agree with your final conclusion in your comment above.

[2016-10-06 14:55] nickelsen commented on #44
Yes, mineral income rate varied from 867 to 965 when 16 workers mined on one base.

JaKaTaK already answered your question on TL, which is what I used to benchmarking, so everything is in line. :-)
http://www.teamliquid.net/forum/sc2-strategy/374400-thestaircase-an-alternative-improvement-method?page=76#1513

I think I have the changes ready for the description texts in the front - I'll make a pul

[2016-10-13 19:05] dsjoerg opened #53 ""Mining base" timings way off for some players"
See discussion here https://github.com/dsjoerg/ggtracker/pull/26#issuecomment-253597889

thanks to @nickelsen for noticing.

[2016-10-18 23:15] dsjoerg opened #54 "ScannerSweep events with no location, how can this be"
[code]

for this replay: http://drop.sc/replay/3841038

[2016-10-19 19:27] dsjoerg opened #55 "Add rate limiting for esdb API"
using rack-attack we could protect the ESDB API in the same way that we already protect the ggtracker webapp.

We ask people to not hit the API more than once per second, but some people probably are and it probably reduces quality of service for all the innocent users out there.

[2016-10-20 15:18] dsjoerg opened #56 "Block or properly handle weird replays with non-standard races"
In this replay: http://sc2replaystats.com/replay/3848059
The race comes through to us not as P but П.
I understand that's Cyrillic for P, but it never happened before and screws up our game processing.  How many other languages will start coming in?

Here are the non-standard race counts so far:

[code]

And the thing that looks like a T is actually not the standard Latin alphabet T it's some othe

[2016-11-01 13:20] dsjoerg opened #57 "Update auth instructions to work around problem with new portraits"
If we do #30 this is no longer necessary or relevant.

Every time Blizzard adds new portraits, we get complaints from users who can't authenticate.  That's because when Blizzard adds new portraits we have to make code and asset changes to take them in.

So as a quick & easy fix we could change the instructions to tell the person to first change their portrait to one of the standard ones like Kachi

[2016-11-16 14:22] dsjoerg commented on #26
Since GraylinKim/sc2reader is no longer under active development, the more recent thought is to promote https://github.com/ggtracker/sc2reader/tree/upstream to being the official sc2reader

[2017-03-30 15:01] dsjoerg opened #58 "In latest patch, 17% of replays not processing correctly"
For example this one:
[Honorgrounds LE (49).SC2Replay.zip](https://github.com/ggtracker/ggtrackerstack/files/882822/Honorgrounds.LE.49.SC2Replay.zip)

[2017-03-30 15:03] dsjoerg commented on #56
I handled the immediate problem with https://github.com/dsjoerg/ggpyjobs/commit/e117ff6de5104256fceee1b4b1ade1217a425ee9 but we could use a more comprehensive fix for other languages that may show up in the future.

[2017-03-30 17:46] dsjoerg commented on #58
I wonder if this is due to the new version that came out.  Haven't diffed the protocol yet ([here](https://github.com/Blizzard/s2protocol/commit/182ce72fbb7345e3f5dc0d32a94ce120539633ec)) or looked to see what replay-processing errors we might have.

[2017-03-30 23:31] dsjoerg commented on #58
Failing test in ggpyjobs now: https://github.com/dsjoerg/ggpyjobs/commit/249647fbe944799655ae6c842343af09ba23942a

[2017-03-30 23:49] dsjoerg commented on #58
Failing test in sc2reader now: https://github.com/ggtracker/sc2reader/commit/a46e0b6a7a835a6cb6c91f29b8adf76b4c514c49

[2017-03-31 02:03] #58 closed

[2017-03-31 02:34] dsjoerg commented on #58
Indeed fixed hooray http://ggtracker.com/matches/7018857

[2017-04-17 17:30] dsjoerg commented on #30
See also https://dev.battle.net/docs/read/oauth

[2017-07-29 17:46] dsjoerg opened #60 "Make signup process less ugly/jarring now that we have Recaptcha"
Our email provider cut us off because some bots were abusing the site to send password phishing scam spam to random email addresses.

I implemented Google Recaptcha today, got it working, but it looks ugly and jarring to the user because they have to enter their username/password twice, and on the second screen the styling is all off.   So the issue here is to make them do it only once and keep th

[2017-09-26 10:42] ar1a opened #61 "Pro subscription added without paying"
Was looking through the controllers and saw https://github.com/dsjoerg/ggtracker/blob/master/app/controllers/home_controller.rb#L10

went to ggtracker.com/pro_lander and it gave me pro.

[2017-09-26 13:07] dsjoerg commented on #61
Thanks for reminding me!

Yep it's set up that way so that when people sign up for Pro, they can immediately start using Pro features.  Otherwise I'd have to wait for Paypal's API to call me and tell me they paid, which for some reason can sometimes take a few minutes.  And why make people wait?

When someone hits pro_lander I get an email, and over the past few years nobody has abused it.

I'm in

[2017-09-26 14:05] ar1a commented on #61
Leave it if it stays unabused. I tried it earlier on (I'm sure you noticed) but then cancelled it :)

[2017-10-27 18:36] dsjoerg commented on #60
Hi @hopson

[2017-11-17 16:58] dsjoerg opened #62 "Catalyst LE and Odyssey LE are failing to upload on GGTracker"
Since new season, all replays from maps Catalyst LE and Odyssey LE are failing to upload on GGTracker.  Examples attached.

[Archive.zip](https://github.com/ggtracker/ggtrackerstack/files/1483106/Archive.zip)

[2017-11-28 22:06] morhook commented on #62
I´ve loaded one of the two replays, and looks kind of broken the UI on my updated starcraft 2 (normal replay)
![image](https://user-images.githubusercontent.com/1264354/33346624-1c209cea-d46f-11e7-9ebb-0450e7d1e5cc.png)

might be related or not with the problem?

[2017-11-28 22:20] sklett-src commented on #62
@morhook is it working on www.gggreplays.com ? It works for me there. I will work and maintain this (gggreplays.com) site, where david helped me set every thing up. It should be stable, but it hasnt been tested properly, only by david and me for now. My fork is located here: https://github.com/sklett-src/ggtrackerstack

[2017-11-28 23:30] morhook commented on #62
I think my starcraft 2 installation is not working very well. The UI problem I showed on my screenshot is happening on Co-op missions too. Sorry for the extra-noise

[2017-11-29 13:45] dsjoerg commented on #62
Cruz, as you are suggesting, I think your SC2 install is misbehaving.

On Tue, Nov 28, 2017 at 6:30 PM Cruz Fernandez <notifications@github.com>
wrote:

--
Sent from NSAMail Mobile

[2019-06-27 04:05] #61 closed

[2020-06-29 15:12] D3kion opened #63 "Fix Battle.net OAuth"
![image](https://user-images.githubusercontent.com/21011899/86023212-0b5e0c00-ba34-11ea-9861-b3e6a27a0ec2.png)

[2020-07-10 15:39] dsjoerg commented on #63
Hello, I stopped working on this years ago. Hopefully someone will fix!

[2020-07-14 20:08] D3kion commented on #63
It's sad:(